#weatherSearch {
		border: 1px #ccc solid;
    border-radius: 3px;
    background-color: #FFFFFF;
    background-image: none;
    color: #4F4F4F;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}

#button {
		border: 1px #adadad solid;
    border-radius: 3px;
    background-color: #d8d8d8;
		color: #4F4F4F;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    padding: 4px 8px;
    text-align: left;
    vertical-align: middle;
}

.text {
		color: #4F4F4F;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
		vertical-align: middle;
}